DB_URL=jdbc:postgresql://host:port/postgres_database_name
DB_USERNAME=postgres_username
DB_PASSWORD=postgres_password
CASDOOR_CERTIFICATE="-----BEGIN CERTIFICATE-----
example
-----END CERTIFICATE-----"
GOOGLE_APPLICATION_CREDENTIALS=/path/to/google-services.json